body{
	background: rgba(46, 46, 46, 1);
}
header{
	width: 100%;
	background: url('../img/bk.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
header div.nav-content{
	width: 100%;
	height: 50px;
	background: -webkit-linear-gradient(top, rgba(40,40,40,1) , rgba(40,40,40,0));
    background: -o-linear-gradient(top, rgba(40,40,40,1) , rgba(40,40,40,0)); 
    background: -moz-linear-gradient(top, rgba(40,40,40,1) , rgba(40,40,40,0));
    background: linear-gradient(top, rgba(40,40,40,1) , rgba(40,40,40,0));
	padding-top: 20px;
	position: fixed;
	z-index: 11;
	opacity: 0;
}
header div.nav-content span#btn-menu{
	display: none;
}
header div.nav-content nav{
	width: 90%;
	margin:auto;
}
header div.nav-content nav ul{
	width: 100%;
	text-align: right;
	margin: 0;
	padding: 0;
}
header div.nav-content nav ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
	text-transform: uppercase;
}
header div.nav-content nav ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}
header div.header-text{
	width: 90%;
	margin: auto;
	text-align: center;
	opacity: 0;
}
header div.header-text h1{
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 1px 1px 5px rgba(0,0,0,.4),
	 			-1px -1px 5px rgba(0,0,0,.4);
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	margin-bottom: 0px;
	font-size: 4.6em;
}
header div.header-text p{
	margin-top: 0px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.6em;
	text-shadow: 1px 1px 5px rgba(0,0,0,.4),
				-1px -1px 5px rgba(0,0,0,.4);
}
header div.header-text span{
	width: 70px;
	height: 70px;
	display: block;
	margin: auto;
	cursor: pointer;
	transition: transform .2s;
}
header div.header-text span:hover{
	transform: scale(1.1);
}
header div.header-text span img{
	width: 100%;
}

section{
	width: 100%;
	/*height: 1000px;*/
	background: rgba(46, 46, 46, 1);
}
section article{
	width: 90%;
	max-width: 1080px;
	margin: auto;
	margin-bottom: 100px;
}
section article div.saludo{
	width: 100%;
	padding: 100px 0px 30px 0px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
section article div.saludo h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
}
section article div.saludo h2 span{
	color: rgba(89, 89, 89, 1);
	font-weight: 300;
}
section article div.saludo p{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: justify;
}
section article figure{
	min-width: 280px;
	max-width: 350px;
	margin: 0;
	padding: 0;
	margin: auto;
	display: block;
}
section article figure img{
	width: 100%;
}

section#portafolio{
	/*background: rgba(166, 166, 166, 1);*/
	background: rgba(38, 57, 101, 1);
}
section#portafolio article{
	width: 100%;
	max-width: inherit;
}
section#portafolio article div.trabajo{
	display: inline-block;
	color: white;
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 2px 0px;
	position: relative;
}
section#portafolio article div.trabajo:after{
	content: '';
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: .2;
}
section#portafolio article div.trabajo span.title{
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	z-index: 10;
	position: relative;
	text-shadow: 1px 1px 10px rgba(0,0,0,.9);
}
@media only screen and (min-width: 450px){
	header div.header-text h1{
		font-size: 6em;
	}
}

@media only screen and (min-width: 720px){
	header div.header-text h1{
		font-size: 7em;
	}
	section article{
		width: 70%;
		max-width: fit-content;
		max-width: -moz-fit-content;
		margin: auto;
	}
	section article div.saludo{
		max-width: 500px;
	}
}
@media only screen and (min-width: 984px){
	section article{
		width: 90%;
		margin-bottom: 0px;
	}
	section article div.saludo{
		max-width: 500px;
		padding: 100px 0px;
	}
	section article figure{
		margin-left: 30px;
		display: inline-block;
		vertical-align: middle;
	}
}
