header{
	width: 100%;
}
header div.nav-content{
	width: 100%;
	height: 40px;
	padding-top: 20px;
	position: fixed;
	z-index: 15;
	transition: all .5s;
}
header div.nav-con-color{
	background: white;
	border-bottom: 3px solid rgba(255, 209, 16, 1);
}
header div.nav-content span#btn-menu{
	display: none;
}
header div.nav-content nav{
	width: 90%;
	margin:auto;
}
header div.nav-content nav ul{
	width: 100%;
	text-align: right;
	margin: 0;
	padding: 0;
}
header div.nav-content nav ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
	text-transform: uppercase;
}
header div.nav-content nav ul li a{
	text-decoration: none;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
}
header div.carousel{
	width: 100%;
	overflow: hidden;
	position: relative;
}
header div.carousel div.arrows{
	width: 100%;
	position: relative;
}
header div.carousel div.arrows span{
	position: absolute;
	font-size: 5em;
	z-index: 10;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}
header div.carousel div.arrows span.left{
	left: 0px;
	padding-left: 20px;
}
header div.carousel div.arrows span.right{
	right: 0px;
	padding-right: 20px;
}
header div.carousel div.slide{
	width: 100%;
	position: absolute;
	top: 0;
	transition: transform 1s ease-out;
	text-align: center;
}
header div.carousel div.s1{
	transform: translateX(-100%);
	z-index: 2;
}
header div.carousel div.s2{
	transform: translateX(0%);
	z-index: 5;
}
header div.carousel div.s3{
	transform: translateX(100%);
	z-index: 1;
}
header div.carousel div.img1{
	background: url('../img/bk2.jpg');
	background-size: cover;
	background-attachment: fixed;
}
header div.carousel div.img2{
	background: url('../img/bk3.jpg');
	background-size: cover;
	background-attachment: fixed;
}
header div.carousel div.img3{
	background: url('../img/bk1.jpg');
	background-size: cover;
	background-attachment: fixed;
}
header div.carousel div.slide div.text{
	transition: all .5s;
}
header div.carousel div.slide div.text h2{
	margin:0px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4em;
}
header div.carousel div.slide div.text span{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 3em;
	margin-bottom: 30px;
}
header div.carousel div.slide div.text p{
	max-width: 600px;
	margin: auto;
	margin-top: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
}
header div.carousel div.img1 h2, div.img1 span{
	color: white;
}
header div.carousel div.slide span.bajar{
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: .4;
	transition: all .4s;
}
header div.carousel div.slide span.bajar:hover{
	transform: scale(1.1);
	opacity: 1;
}
header div.carousel div.slide span.bajar img{
	width: 100%;
}

/**
 * ABOUT_ME
 */
section{
	width: 100%;
}
section article#contenido{
	width: 90%;
	max-width: 1080px;
	margin: auto;
	margin-bottom: 100px;
}
section article#contenido div.saludo{
	width: 100%;
	padding: 100px 0px 30px 0px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
section article#contenido div.saludo h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: black;
}
section article#contenido div.saludo h2 span{
	color: rgba(89, 89, 89, 1);
	font-weight: 300;
}
section article#contenido div.saludo p{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: justify;
	font-size: 1.1em;
}
section article#contenido figure{
	min-width: 280px;
	max-width: 350px;
	margin: 0;
	padding: 0;
	margin: auto;
	display: block;
}
section article#contenido figure img{
	width: 100%;
}

/**
 * SERVICIOS
 */
section article#servicios{
	background: #00c2e5;
	width: 100%;
	text-align: center;
	padding: 40px 0px;
}
section article#servicios div.cuadrado{
	width: 220px;
	margin: 20px 20px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}
section article#servicios div.cuadrado img{
	width: 120px;
	margin: auto;
}
section article#servicios div.cuadrado h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.8em;
	margin: 5px;
	margin-top: 10px;
}
section article#servicios div.cuadrado p{
	text-align: justify;
	margin: 0;
}
/**
 * PORTAFOLIO
 */


section#portafolio{
	margin-top: 2px;
	height: 100%;
}
section#portafolio article{
	width: 100%;
	max-width: inherit;
	position: relative;
}
section#portafolio article div.trabajo{
	display: inline-block;
	vertical-align: top;
	color: white;
	text-align: center;
	margin: 2px 0px;
	position: relative;
	cursor: pointer;
	z-index: 5;
}
section#portafolio article div.trabajo:after{
	content: '';
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: .5;
}
section#portafolio article div.trabajo span.title{
	font-family: 'Unica One', cursive;
	font-size: 2em;
	z-index: 5;
	position: relative;
	text-shadow: 1px 1px 10px rgba(0,0,0,.9);
}
section#portafolio article div.trabajo p{
	display: none;
}

/**
 * CONTACTO
 */
section#contacto{
	width: 100%;
	max-width: 1080px;
	margin: auto;
}
section#contacto
article{
	width: 100%;
	text-align: center;
}
section#contacto
article
form{
	width: 100%;
	position: relative;
}
section
article
form
div.texto-contacto{
	margin-bottom: 20px;
}
section
article
form
div.texto-contacto
h2{
	width: 90%;
	margin: auto;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: black;
}
section
article
form
div.texto-contacto
p{
	width: 90%;
	margin:auto;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: justify;
	font-size: 1.1em;
}
section#contacto
article
form
div.input-group{
	width: 90%;
	height: 50px;
	margin: auto;
	margin: 10px auto;
}
section#contacto
article
form
div.input-group input{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 1.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 1px solid rgba(0,0,0,.2);
}
section#contacto
article
form
div.doble{
	width: calc(45% - 7px);
	display: inline-block;
	vertical-align: top;
	margin: 0px 5px;
}
section#contacto
article
form
div.txtarea{
	height: inherit;
}
section#contacto
article
form
div.input-group textarea{
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	min-height: 200px;
	max-height: 300px;
	padding: 10px;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2em;
	border: 1px solid rgba(0,0,0,.2);
}
section#contacto
article
form
div.boton{
	position: relative;
	width: 90%;
	height: 40px;
	margin: auto;
}
section#contacto
article
form
div.boton input[type="submit"]{
	position: absolute;
	right: 0;
	height: 100%;
	width: 150px;
	background: rgba(43, 143, 111, 1);
	border: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	cursor: pointer;
	border-radius: 20px;
	transition: background .2s;
}
section#contacto
article
form
div.boton input[type="submit"]:hover{
	background: rgba(43, 143, 111, .8);
}
footer{
	background: rgba(46, 46, 46, 1);
	height: 100px;
	position: relative;
}
footer div.texto_footer{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	width: 90%;
	margin: auto;
}
footer div.texto_footer div{
	font-size: .8em;
}
footer div.texto_footer a{
	text-decoration: none;
	color: white;
}
@media only screen and (min-width: 720px){
	section article#contenido{
		width: 70%;
		max-width: fit-content;
		max-width: -moz-fit-content;
		margin: auto;
	}
	section article#contenido div.saludo{
		max-width: 500px;
	}
}
@media only screen and (min-width: 984px){
	section article#contenido{
		width: 90%;
		margin-bottom: 0px;
	}
	section article#contenido div.saludo{
		max-width: 500px;
		padding: 100px 0px;
	}
	section article#contenido figure{
		margin-left: 30px;
		display: inline-block;
		vertical-align: middle;
	}
}
